{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pie Chart Example</title>
    <link href="{% static 'styles/scroll.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
    </style>
</head>
<body>
    <figure>
        <figcaption>EL</figcaption>
        <div>
            <canvas id="elchart"></canvas>
            <div id="el" style="display: none;">{{ typ.EL }}</div>
        </div>
    </figure>
    <figure>
        <figcaption>CL</figcaption>
        <div>
            <canvas id="clchart"></canvas>
            <div id="cl" style="display: none;">{{ typ.CL }}</div>
        </div>
    </figure>
    <figure>
        <figcaption>RH</figcaption>
        <div>
            <canvas id="rhchart"></canvas>
            <div id="rh" style="display: none;">{{ typ.RH }}</div>
        </div>
    </figure>
    {% if user.staff_type %}
        <figure>
            <figcaption>SL</figcaption>
            <div>
                <canvas id="slchart"></canvas>
                <div id="sl" style="display: none;">{{ typ.SL }}</div>
            </div>
        </figure>
    {% endif %}   
    <script>
        const el = parseInt(document.getElementById("el").textContent);
        const cl = parseInt(document.getElementById("cl").textContent);
        const rh = parseInt(document.getElementById("rh").textContent);
        const s = document.getElementById("sl");
        const sl = s ? parseInt(s.textContent) : -1;

        const eldata = {
            labels: ['Unused', 'Used'],
            datasets: [{
                data: [el, (5-el)],
                backgroundColor: [
                    'rgba(255, 0, 0, 1)',  
                    'rgba(0, 0, 255, 1)',  
                ],
                borderColor: [
                    'rgba(255, 0, 0, 1)',  
                    'rgba(0, 0, 255, 1)',  
                ],
                borderWidth: 1
            }]
        };
        const options = {
            responsive: true,
            maintainAspectRatio: false
        };
        const elctx = document.getElementById('elchart').getContext('2d');
        new Chart(elctx, {
            type: 'pie',
            data: eldata,
            options: options
        });

        const cldata = {
            labels: ['Unused', 'Used'],
            datasets: [{
                data: [cl, (15-cl)],
                backgroundColor: [
                    'rgba(0, 128, 128, 1)',  
                    'rgba(255, 255, 0, 1)',  
                ],
                borderColor: [
                    'rgba(0, 128, 128, 1)',  
                    'rgba(255, 255, 0, 1)',  
                ],
                borderWidth: 1
            }]
        };
        const clctx = document.getElementById('clchart').getContext('2d');
        new Chart(clctx, {
            type: 'pie',
            data: cldata,
            options: options
        });

        const rhdata = {
            labels: ['Unused', 'Used'],
            datasets: [{
                data: [rh, (2-rh)],
                backgroundColor: [
                    'rgba(128, 0, 128, 1)', 
                    'rgba(255, 165, 0, 1)', 
                ],
                borderColor: [
                    'rgba(128, 0, 128, 1)',  
                    'rgba(255, 165, 0, 1)', 
                ],
                borderWidth: 1
            }]
        };
        const rhctx = document.getElementById('rhchart').getContext('2d');
        new Chart(rhctx, {
            type: 'pie',
            data: rhdata,
            options: options
        });

        if (sl > 0) {
            const sldata = {
                labels: ['Unused', 'Used'],
                datasets: [{
                    data: [sl, (15-sl)],
                    backgroundColor: [
                        'rgba(0, 255, 255, 1)',
                        'rgba(255, 192, 203, 1)',
                    ],
                    borderColor: [
                        'rgba(0, 255, 255, 1)', 
                        'rgba(255, 192, 203, 1)',
                    ],
                    borderWidth: 1
                }]
            };
            const slctx = document.getElementById('slchart').getContext('2d');
            new Chart(slctx, {
                type: 'pie',
                data: sldata,
                options: options
            });
        }
    </script>
</body>
</html>
